.arriva{
    background-color: aqua;
    display: flex;
}
.h3-1{
    margin-left: 1000px;
}
.img{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    margin-top: 30px;
}
.img-de-mi{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.imagenes{
    display: flex;
    width: 30%;
}
.mas-de-mi{
    background-color: aquamarine;
    display: flex;
    border-radius: 20px;
    width: 70%;
    height: 200px;
    margin-top: 30px;
    margin-left: 30px;
   
}
.p{
    display: flex;
    flex-direction: column;
}
.fondo{
    background-color: lightblue;
    padding: 20px;
    border: 2px solid black;
    background-clip: content-box;
}
.mas-de-mi-2{
    background-color: aquamarine;
    border-radius: 20px;
    width: 70%;
    height: 200px;
    margin-top: 250px;
}
