.arriva{
    background-color: rgb(1, 168, 168);
    display: flex;
}
.h3-1{
    margin-left: 900px;
}
.img{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    margin-top: 30px;
}
.img-de-mi{
    margin-top: 20px;
    display: flex;
}
.imagenes{
    display: flex;
    width: 30%;
}
.mas-de-mi{
    background-color:rgba(8, 145, 115, 0.459);
    display: flex;
    border-radius: 20px;
    width: 70%;
    height: 200px;
    margin-top: 50px;
    margin-left: 30px;
   
}
.divflex{
    display: flex;
}
.p{
    display: flex;
    flex-direction: column;
}
.fondo{
    background-color: rgb(30, 70, 83);
    padding: 20px;
    border: 2px solid black;
    background-clip: content-box;
}
.mas-de-mi-2{
    margin-left: 20px;
    background-color: rgba(2, 141, 111, 0.459);
    border-radius: 20px;
    width: 70%;
    height: 200px;
    margin-top: 50px;
    flex-direction: column;
}
